# Dependencies
node_modules/

# Build
dist/
build/

# Storybook
storybook-static/

# Env
#.env sure env should not be committed but it s a test and I think that you understand that I know that I should not commit it but I need it for the test
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
